        <!-- PROJECT BANNER -->
        
        <section>

            <div class="row">

                <div class="col-75" id="c-b1">

                    <img src="./assets/projects/Portfolio-Cover-Images/Alex-Cover-01.png">

                </div>

                <div class="col-25" id="c-b2">

                    <h2>Details</h2>

                    <hr>

                    <p>INSERT TEXT HERE</p>
                    
                    <h2>Project Files</h2>

                    <hr>

                    <p>Link boards, slides, etc. here</p>
                
                </div>

            </div>

        </section>

        <!-- PROJECT CONTENT SECTION -->

        <section>

            <h2>Project Section Title</h2>

            <hr>

            <div class="row">

                <div class="col-75" id="c-b1">

                    <img src="./assets/projects/Alexandria-Project/patt-gen-tool/lw_ab-3.png">

                </div>

                <div class="col-25" id="c-b2">

                    <h3>Section Subtitle</h3>

                    <hr>

                    <p>Lorem ipsum dolor sit amet, te pri dico ubique delenit, gloriatur forensibus et vim, an mea mundi
                        melius intellegam. Ad mea prima impetus forensibus, te mel tollit tamquam nostrud. Eum labore
                        insolens at, brute viris petentium cu has, erat temporibus ius et. Sit no vitae torquatos
                        scripserit. At eam etiam decore meliore, audiam interesset ad vim, ius utroque civibus fuisset
                        at.</p>

                </div>

            </div>

            <div class="row">

                <div class="col-75" id="c-b1">

                    <img src="./assets/placeholders/image-placeholders-02.png">

                </div>

                <div class="col-25" id="c-b2">

                    <h3>Section Subtitle</h3>

                    <hr>

                    <p>Lorem ipsum dolor sit amet, te pri dico ubique delenit, gloriatur forensibus et vim, an mea mundi
                        melius intellegam. Ad mea prima impetus forensibus, te mel tollit tamquam nostrud. Eum labore
                        insolens at, brute viris petentium cu has, erat temporibus ius et. Sit no vitae torquatos
                        scripserit. At eam etiam decore meliore, audiam interesset ad vim, ius utroque civibus fuisset
                        at.</p>

                </div>

            </div>

        </section>

        <!-- PROJECT COVER (HOME) -->

        <div class="row">

                <div class="col-65" id="c-b1">

                    <a href="project-a.html">
                        <img class="card" src="./assets/projects/Portfolio-Cover-Images/LOTB-Cover-01.png">
                    </a>

                </div>

                <div class="col-35" id="c-b2">
                    <h2>
                        <a href="project-a.html" class="no-ul" id="link-hov-1">Living Outside the Box</a>
                    </h2>
                    <hr>
                    <p>
                        <a href="project-a.html" class="no-ul">
                            <p class="sub-0">Rio de Janeiro, RJ, Brazil</p>
                            <p class="sub-1">Residential, Urban Planning</p>
                            <p class="sub-2">Academic</p>
                        </a>
                    </p>
                </div>

            </div>